# Ignora arquivos HTML de relatórios
*.html

# Ignora arquivos de cache do Jupyter
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Ignora arquivos de ambiente virtual (caso esteja na pasta)
env/
venv/
.venv/

# Ignora arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

